head
    include common.pug
body
    div(class="row")
        div(class="card")
            div(class="card-content")
                span(class="card-title")= "Квартира " + apartment.id
                    span(class="card-title right")= apartment.temperature + " ℃"
            div(class="card-action")
                div(class="ct-chart ct-perfect-fourth", id="chart_" + apartment._id)
                script.
                    new Chartist.Line("#chart_#{apartment._id}", { labels: [ "Температура" ], series: [ [ #{ temps.toString() }, #{ apartment.temperature } ] ] });