title app

meta(charset="utf-8")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
link(type="text/css", rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css", media="screen,projection")
link(type="text/css", rel="stylesheet", href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
script(src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")

nav
    div(class="nav-wrapper")
        a(class="brand-logo center", href="#") app