head
    include common.pug
body
    div(class="row")
        for city in cities
            div(class="col m3 s12")
                div(class="card")
                    div(class="card-content")
                        span(class="card-title dropdown-trigger", data-target="dropdown_" + city._id)= city.name
                            span(class="card-title right")= city.temperature + " ℃"
                    div(class="card-action")
                        div(class="ct-chart ct-perfect-fourth", id="chart_" + city._id)
                    script.
                        new Chartist.Line("#chart_#{city._id}", { labels: [ "Температура" ], series: [ [ #{ city.temps.toString() }, #{ city.temperature } ] ] });
            ul(id="dropdown_" + city._id, class="dropdown-content")
                for region in city.regions
                    li
                        a= "Регион " + region.id
                    for house in region.houses
                        li
                            a= "Дом " + house.id
                        - var i = 1
                        for apartment in house.apartments
                            li
                                a(href="/id/" + apartment._id)= "Квартира " + i
                                - i += 1
                
    script.
        document.addEventListener('DOMContentLoaded', function() { var elems = document.querySelectorAll('.dropdown-trigger'); var instances = M.Dropdown.init(elems, {}); });